/* The switch - the box around the slider */
.switch {
   position: relative;
   display: inline-block;
   width: 60px;
   height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
   opacity: 0;
   width: 0;
   height: 0;
}

/* The slider */
.slider {
   position: absolute;
   cursor: pointer;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: #ccc;
   -webkit-transition: 0.4s;
   transition: 0.4s;
}

.slider:before {
   position: absolute;
   content: "";
   height: 26px;
   width: 26px;
   left: 4px;
   bottom: 4px;
   background-color: white;
   -webkit-transition: 0.4s;
   transition: 0.4s;
}

input:checked + .slider {
   background-color: #2196f3;
}

input:focus + .slider {
   box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
   -webkit-transform: translateX(26px);
   -ms-transform: translateX(26px);
   transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
   border-radius: 34px;
}

.slider.round:before {
   border-radius: 50%;
}

.header {
   padding-left: 4em;
}

.banner {
   padding-left: 4em;
   border-top: 3px solid black;
   border-bottom: 3px solid black;
}

.banner .navright {
   padding-left: 60rem;
}

.submission svg {
   padding: 0, 0, 0, 0;
}

.glightbox_video {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

.outer_circle {
   stroke-width: 3;
   stroke-dasharray: 410;
   stroke-dashoffset: 0;
   stroke-linecap: square;
   transition: all 0.4s ease-out;
}

.glightbox_video:hover .outer_circle {
   stroke-dashoffset: 410;
   transition: stroke 0.7s 0.4s ease-out, stroke-dashoffset 0.4s ease-out;
}

.glightbox_video:hover .inner-circle {
   fill: #bf2428;
   transition: fill 0.4s 0.3s ease-out;
}

.glightbox_video:hover .play {
   fill: white;
   transition: fill 0.4s 0.3s ease-out;
}

body {
   background-color: lightgray;
}
