@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

body {
   font-family: "Sora", sans-serif;
}

.header {
   /* padding-left: 4em; */
   font-size: 3em;
   margin: 0;
   padding: 0;
}

.banner {
   display: flex;
   /* padding: 0.3em; */
   /* padding-left: 4em; */
   /* border-top: 3px solid black; */
   /* border-bottom: 3px solid black; */
   padding-top: 0.1em;
   align-content: center;
   justify-content: space-around;
   align-items: center;
   justify-items: center;
   font-size: 1.25em;
   background-color: black;
   position: sticky;
   top: 0;
   margin: 1 auto;
   height: 3em;
   /* width: 100%;
   flex-basis: 100%;
   flex-wrap: wrap; */
}

/* .banner * {
   border: 1px solid;
} */

.upload {
   display: flex;
   width: 50%;
   justify-content: flex-end;
}

.navElement {
   font-size: 1.5em;
   color: white;
}

.submission svg {
   padding: 0, 0, 0, 0;
}
.outer_circle {
   stroke-width: 3;
   stroke-dasharray: 410;
   stroke-dashoffset: 0;
   stroke-linecap: square;
   transition: all 0.4s ease-out;
}

.glightbox_video:hover .outer_circle {
   stroke-dashoffset: 410;
   transition: stroke 0.7s 0.4s ease-out, stroke-dashoffset 0.4s ease-out;
   fill: white;
}

.glightbox_video:hover .inner-circle {
   fill: white;
   transition: fill 0.4s 0.3s ease-out;
}

.glightbox_video:hover .play {
   fill: #bf2428;
   transition: fill 0.4s 0.3s ease-out;
}

body {
   background-color: whitesmoke;
}

.submission span {
   /* padding-left: 10rem; */
   vertical-align: middle;
}

.submission {
   background-color: white;
   border-radius: 1em;
   border: 1px solid lightslategray;
   display: flex;
   padding: 1em;
   width: 55em;
   margin: auto;
   margin-top: 1em;
   margin-bottom: 0;
   justify-content: space-between;
   align-items: center;
}

.tags {
   display: flex;
   width: 20%;
   flex-wrap: wrap;
   align-content: space-between;
   justify-content: center;
}

a {
   text-decoration: none;
}

.main {
   display: flex;
   flex-direction: column;
   justify-content: center;
   text-align: center;
   padding-top: 1em;
}

.titleProgress {
   display: flex;
   flex-wrap: wrap;
   width: 50%;
   padding: 1em;
}

.bar {
   width: 90%;
}

.time {
   width: 10%;
}

.title {
   font-size: 2rem;
   overflow: scroll;
   display: flex;
   flex-wrap: nowrap;
   white-space: nowrap;
   scrollbar-width: 0;
}

.barTime {
   display: flex;
   width: 100%;
}

.tag {
   margin: 0.1em;
}

.uploadbtn {
   display: flex;
   padding: 0.35em 1.2em;
   border: 0.1em solid #ffffff;
   /* margin: 0 0.3em 0.3em 0; */
   border-radius: 0.12em;
   box-sizing: border-box;
   text-decoration: none;
   /* font-weight: 500; */
   color: #ffffff;
   text-align: center;
   transition: all 0.2s;
}

.uploadbtn:hover {
   color: #000000;
   background-color: #ffffff;
}

@media all and (max-width: 30em) {
   .uploadbtn {
      display: block;
      margin: 0.4em auto;
   }
}

.searchForm {
   display: flex;
   box-sizing: border-box;
   margin-right: 1em;
   /* border: 0.1em solid white; */
}
/* Style the search field */
.searchForm input[type="text"] {
   padding: 10px;
   font-size: 17px;
   /* border: 1px solid grey; */
   float: left;
   width: 80%;
   background: #f1f1f1;
}

/* Style the submit button */
.searchForm button {
   float: left;
   /* box-sizing: border-box; */
   width: 15%;
   /* padding: 10px; */
   background: #000000;
   color: white;
   font-size: 17px;
   /* border: 0.1em solid white; */
   border-left: none; /* Prevent double borders */
   cursor: pointer;
}

.searchForm button:hover {
   background: darkgrey;
}

/* Clear floats */
.searchForm::after {
   content: "";
   clear: both;
   display: table;
}

body {
   margin: 0;
   padding: 0;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
     'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
     sans-serif;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   box-sizing: border-box;
 }
 
 *,
 *:before,
 *:after {
   box-sizing: inherit;
 }
 
 .App {
   width: 90%;
   max-width: 700px;
   margin: 2em auto;
 }
 p.lorem-text {
   text-align: justify;
 }
 
 .modal-cover {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: 10;
   transform: translateZ(0);
   background-color: rgba(0, 0, 0, 0.8);
 }
 
 .modal-area {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   padding: 2.5em 1.5em 1.5em 1.5em;
   background-color: #ffffff;
   box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.1);
   overflow-y: auto;
   -webkit-overflow-scrolling: touch;
 }
 
 @media screen and (min-width: 500px) {
   /* Center the Modal! */
   .modal-area {
     left: 50%;
     top: 50%;
     height: auto;
     transform: translate(-50%, -50%);
     max-width: 30em;
     max-height: calc(100% - 1em);
   }
 }
 
 ._modal-close {
   position: absolute;
   top: 0;
   right: 0;
   padding: 0.5em;
   line-height: 1;
   background: #f6f6f7;
   border: 0;
   box-shadow: 0;
   cursor: pointer;
 }
 
 ._modal-close-icon {
   width: 25px;
   height: 25px;
   fill: transparent;
   stroke: black;
   stroke-linecap: round;
   stroke-width: 2;
 }
 
 .modal-body {
   padding-top: 0.25em;
 }
 ._hide-visual {
   border: 0 !important;
   clip: rect(0 0 0 0) !important;
   height: 1px !important;
   margin: -1px !important;
   overflow: hidden !important;
   padding: 0 !important;
   position: absolute !important;
   width: 1px !important;
   white-space: nowrap !important;
 }
 
 .scroll-lock {
   overflow: hidden;
   margin-right: 17px;
 }
 